[Unit]
Description=SyncDrive Storage Partition (ext4)
After=local-fs.target

[Mount]
What=/dev/sda1
Where=/mnt/storage
Type=ext4
Options=defaults,noatime,nofail

[Install]
WantedBy=multi-user.target
