[Unit]
Description=SyncDrive Camera API
After=network.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/syncdrive/cam
Environment="PATH=/home/pi/syncdrive/cam/venv/bin"
Environment="CAM_CONFIG=/data/cam/config.yml"
ExecStart=/home/pi/syncdrive/cam/venv/bin/python main.py
Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal
SyslogIdentifier=syncdrive-cam-api

[Install]
WantedBy=multi-user.target
